<html>
<h1>Welcome to Dyne's webpage!</h1>
<hr>
<p class="text_l">회원가입하거나 로그인할 수 있습니다.</p>

<div class="Field1">
    <div class="Field2">
        <div class="text_s">이 페이지에 처음 방문하셨나요?</div>
        <button type="button" onclick="location.href='/users/register'">회원가입</button>
    </div>
    <div class="Field2">
        <div class="text_s">이미 계정이 있으신가요?</div>
        <button type="button" onclick="location.href='/users/login'">로그인</button>
    </div>

</div>


</html>